[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-ckeditor = "*"
pillow = "*"
active = "*"
link = "*"
django-active-link = "*"
markdown = "*"
django-filter = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
